@import "../vendor/bootstrap/less/bootstrap.less";
//@import "../vendor/bootstrap/less/theme.less";
@import "../vendor/font-awesome/less/font-awesome.less";
@fa-font-path: "../vendor/font-awesome/fonts";

/* Component LESS */

@import "framework/components/weather-module/weather-module.less";
/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.show-me {
  border: 2px solid #000;
}

cite, p, a, h1, h2, h3, h4, h5, h6 {
  word-wrap: break-word;
}

img {
  width: 100%;
  max-width: 100%;
}

body, html {
  width: 100%;
  height: 100%;
}

body {
  background: url(framework/components/img/sky-bg.jpg)no-repeat fixed center center;
  -webkit-background-size: cover;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6, p, li, a {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

h1, h2, h3, a {
  font-weight: bold;

}

.l-top-header {
  text-align: center;

  h1 {
    color: #fff;
    text-shadow: 0 2px 2px #000;
  }
}

.l-weather-icon {
  height: 60px;
  width: 60px;
}

.blue {
  padding: 1em 2% !important;
}



