<div class="instamatic-view">
  <div class="l-row"><h1>Weather App - ATL Current Weather</h1></div>



  <div class="l-row" data-ng-repeat="item in myWeatherAppCtrl.igData">

    <aside class="l-sidebar">
      <h3>{{ item.weather.main }}</h3>
      <h3>{{ item.name }}</h3>
      <br/>
      <p>{{ item.weather.description }}</p>

      <!--<img data-ng-src="{{ item.user.profile_picture }}"/>-->

      <!--<p><strong>{{ item.user.name }}</strong></p>-->
      <!--<cite data-ng-repeat="tag in item.tags">#{{ tag }} </cite>-->

    </aside>


    <div class="l-main-container">

      <p><strong>{{ item.main.temp }}</strong></p>
      <br/>
      <p>{{ item.main.temp_min }}</p>
      <p>{{ item.main.temp_max }}</p>
      <p>{{ item.main.pressure }}</p>
      <p>{{ item.main.humidity }}</p>
      <!--<br/>-->
      <!--<img data-ng-src="{{ item.images.low_resolution.url }}"/>-->
      <!--<br/>-->

      <!--<p>{{ item.caption.text }}</p>-->
      <!--<br/>-->
      <!--<a ng-href="{{ item.link.url }}" target="_blank">-->
        <!--<cite>{{ item.link }}</cite>-->
        <!--<br/>-->
        <!--<hr/>-->

    </div>

  </div>

