<div class="instamatic-view">
  <div class="l-row"><h1>Weather App - ATL Current Weather</h1></div>



  <div class="l-row" data-ng-repeat="item in myWeatherAppCtrl.igData">

    <aside class="l-sidebar">
      <h3>{{ item.weather.main }}</h3>
      <h3>{{ item.name }}</h3>
      <br/>
      <p>{{ item.weather.description }}</p>
      

    </aside>


    <div class="l-main-container">

      <p><strong>{{ item.main.temp }}</strong></p>
      <br/>
      <p>{{ item.main.temp_min }}</p>
      <p>{{ item.main.temp_max }}</p>
      <p>{{ item.main.pressure }}</p>
      <p>{{ item.main.humidity }}</p>


    </div>

  </div>

